.workers{
  .title{
    h3{
      margin: 10px 0;
    }
    p{
      margin-bottom: 20px;
    }
  }
}

.branch-table{
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 2px solid #454545;
  .branch-item{
    display: flex;
    flex-direction: row;
    margin: 0;
    .row{
      margin: 0;
      padding: 5px;
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-bottom: 2px solid #454545;
      justify-content: center;
    }
    .c1{
      cursor: pointer;
      width: 100%;
    }
    .c1:hover{
      background-color: #cccccc;
      color: #333333;
    }
  }
}
.list{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  .srt{
    display: flex;
    flex-direction: row;
    .c1{
      width: 35%;
    }
    .c2{
      width: 35%;
    }
    .c3{
      width: 20%;
      text-align: center;
    }
    .c4{
      width: 10%;
    }
  }
}
.workers{
  .buttons-cms{
    .button{
      background-color: rgb(18, 19, 56);
      color: white;
      margin: 10px;
      padding: 10px 16px 10px 10px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}
.create-branch{
  width: 100%;
  .create-branch-form{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    input{
      width: calc(100% - 16px);
      margin: 5px;
      padding: 5px;
      border: 3px dotted #aaa;
      outline: none;
    }
    .multi100{
      margin-top: 10px;
      width: 100%;
    }
    .checkboxes{
      width: 100%;
    }
  }
}

.struct-panel{
  width: 100%;
  display: flex;
  flex-direction: column;
  .branch{
    width: 400px;
    padding: 5px;
    border: 2px solid #333333;
    cursor: pointer;
    .name{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
      text-align: center;

    }
  }
}
