.modal-list{
  overflow-y: auto;
  max-height: 75vh;
}
.answers-list{
  display: flex;
  flex-direction: column;
  width: 100%;

  .first-line{
    border-top: 3px solid #999999;
  }
  .first-row{
    border-left: 3px solid #999999;
  }
  .header{
    .answers-list-row{
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
  .data{
      cursor: pointer;
  }
  .data:hover{
    background-color: rgba(1,1,1,0.6);
    color: #fff;
  }
  .answers-list-line{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 3px solid #999999;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #555;
    .answers-list-row{
      display: flex;
      border-right:3px solid #999999;
      padding: 5px;
    }
    .c1{
      width: 35%;
    }
    .c2{
      width: 45%;
    }
    .c3{
      width: 20%;
    }

  }
}

.answers-box{
  overflow-y: auto;
  height: 100%;
  .answer{
  }
  h3{
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  h4{
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: bold;
  }
}
@media screen and (min-width: 500px){
  .analyt{
    background-color: #999;
    color: #FFFFFF;
    justify-content: left;
    align-items: flex-start;
    width: calc(50% - 40px);
    min-width: 320px;
    padding: 20px;
    p{
      margin: 10px 0;
    }
    span{
      font-weight: 600;
    }
    .button{
      font-size: 0.8rem;
      margin-top: -10px;
      text-decoration: underline;
      cursor: pointer;
    }
    .button:hover{
      color: #aaaaaa;
    }
  }
  .borderrightnone{
    display: flex !important;
  }
  .dd{
    display: none !important;
  }
}
@media screen and (max-width: 500px){
  .analyt{
    background-color: #999;
    color: #FFFFFF;
    justify-content: left;
    align-items: flex-start;
    width: calc(40% - 40px);
    min-width: 300px !important;
    padding: 10px;
    font-size: 10pt;
    p{
      margin: 10px 0;
    }
    span{
      font-weight: 600;
    }
    .button{
      font-size: 0.8rem;
      margin-top: -10px;
      text-decoration: underline;
      cursor: pointer;
    }
    .button:hover{
      color: #aaaaaa;
    }
  }
  .modal_active{
    .middle-modal-win-files{
      height: 90% !important;
    }

  }

  .workers{
    .answers-list{
      font-size: 10pt;
      .answers-list-line{
        font-size: 8pt;
        .borderrightnone{
          display: none;
        }
        .dd{
          display: flex;
        }
      }
    }
  }
}

.analytics-cms{
  .title{
    h1{
      font-size: 1.1rem;
    }
  }
  .types-history{
    margin-top: 20px;
    h2{
      font-size: 1rem;
    }
  }
  .form-analytics{
    .input{
      width: calc(100% - 8px);
      border: 1px solid #aaaaaa;
      outline: none;
      padding: 4px;
    }
    .button{
      background-color: rgb(18, 19, 56);
      color: white;
      margin-top: 10px;
      padding: 10px 16px 10px 10px;
      width: calc(100% - 24px);
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;

    }
  }
  .table{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #888;
    .row{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 5px 5px 5px;
      margin: 0;
      .column{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .s1{
        width: 50px;
        border-right: 2px solid #888;
        font-weight: bold;
      }
      .s2{
        width: 250px;
      }
    }

    .header{
      border-bottom: 2px solid #888;
      font-weight: bold;
    }
  }
}
