.right-block-ymwelding{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ymwelding_head{

  .ymwelding_head_btnlast{

  }
  .ymwelding_head_nameobj {

  }
  .ymwelding_head_passobj {

  }
}

.ymwelding_controller{
  .ymwelding_controller_ym{
    .ymwelding_controller_ym_select{

    }
    .ymwelding_controller_ym_select{

    }
    .ymwelding_controller_ym_pluss{

    }
  }

  .ymwelding_controller_sistembtns{
    .ymwelding_controller_sistembtns_crews{

    }
    .ymwelding_controller_sistembtns_itogs{

    }
    .ymwelding_controller_sistembtns_viewsjob{

    }
  }
}

.ymwelding_years{

  .ymwelding_years_head{

  }
  .ymwelding_years_body{

    .ymwelding_years_body_mounth{
      .ymwelding_years_body_mounth_text{

      }
      .ymwelding_years_body_mounth_settings{

      }
    }
  }
}
