.create_new_post_worklist_mainimg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3E3E3;
  width: calc(100% - 46px);
  height: 200px;
  border: 3px dotted #CCC;
  margin: 10px 0 0 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  i{
    color: #CCC;
    font-size: 24pt;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 3px;
    transition: .2s;
  }
}
.create_new_post_worklist_mainimg:hover{
  transition: .2s;
  border: 3px dotted #454545;
  i{
    color: #454545;
    border: 1px solid #454545;
    transition: .2s;
  }
}