.frame_block{
  margin-top: 40px;
  .frame_block_title{
    display: flex;
    justify-content: flex-start;
    .frame_block_title_name {
      font-size: 24pt;
      margin-right: 50px;
      font-weight: 800;
      height: 35px;
      color: rgb(18, 19, 56);
    }
    .frame_block_title_edit {
      font-size: 14pt;
      padding: 5px 30px;
      margin: 0 0 0 20px;
      border: 1px solid #CCC;
      border-radius: 8px;
      color: #CCC;
      cursor: pointer;
      transition: 0.2s;
    }
    .frame_block_title_edit:hover{
      transition: 0.2s;
      border: 1px solid #454545;
      color: #454545;
    }
  }
  .frame_block_plane{
    background-color: #FFF;
    width: calc(100% - 80px);
    min-height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .frame_block_plane_man{
      display: flex;
      flex-direction: column;
      width: 150px;
      margin: 10px;
      .frame_block_plane_man_photo{
        width: 150px;
        height: 180px;
        background-size: cover;
        background-position: center center;
        border-radius: 10px 10px 0 0;
      }

      .frame_block_plane_man_text{
        width: 130px;
        padding: 10px;
        background-color: #F1F1F1;
        border-radius: 0 0 10px 10px;
        font-size: 10pt;
        .frame_block_plane_man_name{}
        .frame_block_plane_man_slicer{
          width: 100%;
          height: 2px;
          background-color: #FFF;
          border-radius: 2px;
          margin: 5px 0;
        }
        .frame_block_plane_man_dev{}
      }


    }

  }


}
.backhall{
  border: 1px solid gold;
}

.borderbirthday{
  border: 1px solid #FFF;
}

.birthdaycolor{
  background: linear-gradient(45deg, #fff 0%, #fff 3%, red 3%, red 6%, #fff 6%, #fff 9%, rgb(18, 18, 70) 9%, rgb(18, 18, 70) 12%, #fff 12%, #fff 15%, red 15%, red 18%, #fff 18%, #fff 21%, rgb(18, 18, 70) 21%, rgb(18, 18, 70) 24%, #fff 24%, #fff 27%, red 27%, red 30%, #fff 30%, #fff 33%, rgb(18, 18, 70) 33%, rgb(18, 18, 70) 36%
  , #fff 36%, #fff 39%, red 39%, red 42%, #fff 42%, #fff 45%, rgb(18, 18, 70) 45%, rgb(18, 18, 70) 48%, #fff 48%, #fff 51%, red 51%, red 54%, #fff 54%, #fff 57%, rgb(18, 18, 70) 57%, rgb(18, 18, 70) 60%, #fff 60%, #fff 63%
  , red 63%, red 66%, #fff 66%, #fff 69%, rgb(18, 18, 70) 69%, rgb(18, 18, 70) 72%, #fff 72%, #fff 75%, red 75%, red 78%, #fff 78%, #fff 81%, rgb(18, 18, 70) 81%, rgb(18, 18, 70) 84%, #fff 84%, #fff 87%, red 87%, red 90%
  , #fff 90%, #fff 93%, rgb(18, 18, 70) 93%, rgb(18, 18, 70) 96%, #fff 96%, #fff 100%);
}


.hall_edit{

}