.new_container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  .up_path{
    width: 100%;
    height: 40px;
    padding: 10px 0;
    background: rgba(18,19,56,1);
    color: #F1F1F1;
    position: sticky;
    top: 0px;
    z-index: 100;
    .head_block{
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .head_block_logo{}
      .head_block_search{
        display: flex;
        justify-content: space-between;
        width: 30%;
        height: 36px;
        padding: 0 0 0 15px;

        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 40px;
        .head_block_search_input{
          background: rgba(255,255,255,0);
          border: none;
          color: #F1F1F1;
          width: 90%;
        }
        .head_block_search_input:focus {
          outline: none;
          border: none;
        }
        .head_block_search_btn{
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: rgba(255,255,255,0.2);
          background-image: url('../../../assets/images/newsearch.svg');
          background-size: cover;
          box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.35);
          transition: 0.2s;
          cursor: pointer;
        }
        .head_block_search_btn:hover{
          opacity: 0.8;
          transition: 0.2s;
        }

      }
      .head_block_right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .head_block_callback{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px 0 20px;
          height: 36px;
          border: 2px solid rgba(255,255,255,0.3);
          border-radius: 40px;
          cursor: pointer;
        }
        .head_block_callback:hover{
          opacity: 0.8;
        }
        .head_block_lk{
          margin-left: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #F1F1F1;
          .head_block_lk_photo{
            width: 40px;
            height: 40px;
            background-image: url('../../../../public/profile/photoprofile.png');
            background-size: cover;
            background-position: center center;
            border-radius: 100%;
            margin-right: 10px;
          }
          .head_block_lk_name{

          }
        }
        .head_block_questions{
          width: 36px;
          height: 36px;
          border: 2px solid rgba(255,255,255,0.3);
          border-radius: 40px;
          margin-left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

    }
  }

  .main_path{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 40px - 20px);
  }
}
