.fastbtns{
  width: calc(35% - 20px);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .fastbtns_block {

    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .fastbtns_block_btn:hover{
      transition: 0.5s;
      .fastbtns_block_btn_radius {
        animation-name: fastbtn;
        animation-duration: 0.2s;
        Animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes fastbtn {
        0% {
          width: 40%;
          height: 60px;
          margin-top: 60px;
        }
        100% {
          width: 50%;
          height: 80px;
          margin-top: 40px;
        }
      }
      .fastbtns_block_btn_icon {
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -20px;
        z-index: 2;


        i {
          font-size: 50px;
          margin-right: 20px;
          animation-name: fastbtnicon;
          animation-duration: 0.9s;
          Animation-timing-function: linear;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
      }
      @keyframes fastbtnicon {
        0% {
            font-size: 50px;
            margin-right: 20px;
            rotate: 0deg;

        }
        100% {

            font-size: 50px;
            margin-right: 20px;
            rotate: 3deg;

        }
      }

    }

    .fastbtns_block_btn {
      position: relative;
      width: 48%;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      cursor: pointer;
      transition: 0.5s;
      .fastbtns_block_btn_box {
        position: absolute;
        width: 100%;
        height: 120px;
        //background: #DC7700;
        border-radius: 10px;
        z-index: 0;
      }
      .fastbtns_block_btn_radius {
        position: absolute;
        width: 40%;
        height: 60px;
        display: flex;
        border-radius: 120% 0 10px 0;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 60px;
        z-index: 1;
        background: #00E4E4;
      }

      .fastbtns_block_btn_icon {
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -20px;
        z-index: 2;
        i{
          font-size: 50px;
          margin-right: 20px;
          color: rgba(0,0,0,0.5)
        }
      }

      .fastbtns_block_btn_text {
        position: absolute;
        width: 82%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 15px;
        //margin-top: -90px;
        z-index: 3;
      }
    }
  }
}
