.structure{
  .title{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  .image{
    width: 100%;
    overflow: scroll;
    img{
      min-width: 1000px;
      width: 100%;
    }
  }
  .button{
    cursor: pointer;
    background-color: rgb(18, 19, 56);
    color: white;
    margin: 3px;
    padding: 10px 30px;
    width: 160px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 10px;
    z-index: 2;
  }
}
