.modal_crew{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal_crew_message{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_crew_btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    .modal_crew_btns_plus{
      width: 150px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #3C8801;
      color: #FFF;
      cursor: pointer;
      border: none;
      margin: 10px;
      padding: 1px;
      border-radius: 4px;
    }
    .modal_crew_btns_cancel{
      width: 150px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F6F6F7;
      color: #454545;
      cursor: pointer;
      border: 1px solid #CCC;
      margin: 10px;
      border-radius: 4px;
    }
  }

}